*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: outfit;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 247, 247) /*background color for the entire page */
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 15px 10%;
}

li, a, button{
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2e2e2e;
    text-decoration: none;
}

.logo{
    cursor: pointer;
}

.navlinks{
    list-style: none;
}

.navlinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a{
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover{
    text-decoration: underline;
}

button{
    padding: 10px 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.search-box{
    opacity: 70%;
    width: 80%;
    z-index: 3;
    position: absolute;
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
}

.searchbar{
    opacity: 100%;
    border: none;
    width: 100%;
    max-width: 1150px;
    height: 90px;
    background: #83765b;
    display: flex;
    align-items: center;
    border-radius: 90px;
    padding: 10px 20px;
}

.searchbar input{
    opacity: 100%;
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 24px;
    font-weight: medium;
    color: #717171;
    font-family: 'Outfit';
}

::placeholder{
    color: #d7d7d7;
    font-family: 'Outfit';
}

.searchbar button img{
    width: 30px;
}

.searchbar button{
    border: 0;
    border-radius: 50px;
    width: 110px;
    height: 70px;
    background: #2e2e2e;
    cursor: pointer;
    transition: 0.3s ease-out;
}
.search-box :hover{
    background-color: white;
}
.search-box button:hover{
    background-color: #6d6b6b;
}




.hero_div {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha (last value) for darkness */
    z-index: 1;
}
.hero_image {
    width: 100%;
    height: 1000px;
    z-index: 2;
}

.caption {
    text-align: center;
    color: #ddd;
    z-index: 4;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the text */
    font-size: 25px;
    
}
.Hero_Logo{
    margin: 25px 0 25px 0;
    filter: invert(1);
    width: 140px;
}

.ShopNowDiv {
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the text */
}
.ShopNowButton a{
    font-size: 25px;
    font-weight: bold;
    color: rgb(151, 103, 14);
    
}
.ShopNowButton {
    margin: -20px 0 50px 0;
    border: none;
    background-color: white;
    padding: 20px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 42px;
    cursor: pointer;
}
.ShopNowButton:hover {
    background-color: #eeeeee;
}




.New_R_ParentDiv{
    margin: 100px 250px;
}
.New_R_Div{
    justify-content: space-around;
}
.New_R_Div_h1{
    padding-bottom: 50px;
    text-align: center;
    font-size: 60px;
}
/* Pagination links */
.pagination {
    margin: 90px 50% 0 50%;
    display: flex;
    justify-content: space-around;
}
.pagination a {
    font-size: 30px;
    color: black;
    float: left;
    padding: 8px 25px 12px 25px;
    text-decoration: none;
    transition: background-color .3s;
  }
  .pagination a.scroll {
    background-color: lightgray;
    color: white;
  }
  /* Style the active/current link */
  .pagination a.active {
    font-weight: bold;
      }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color: #ddd;}

.DiscountPicture{
    display: inline-block;
    position: relative;
    width : 100%;
}
.DiscountImg {
    width : 100%;
}
.Discount-text {
    position: absolute;
    font-size: 50px;
    text-align: right;
    color: white;
    top: 30%;
    right:5%;
}
.buy-now-white {
    font-family: outfit;
    font-weight: bold;
    font-size: 20px;
    padding: 15px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
}
.buy-now-white:hover {
    color: white;
    background-color: rgb(74, 142, 243);
}
.Newslettersection {
    display: flex;
    justify-content: center;
    text-align: center;
}
.Newsletter {
    padding-top: 3%;
    font-size: 50px;
    text-align: center;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    border: 4px solid black;
}  
/* Add some padding and a grey background color to containers */
.Email-container {
display: flex;
justify-content: space-around;
padding: 20px;
}
.enterMail{
    font-size: 20px;
    font-family: outfit;
    background-color: #eee;
    width: 100%;
    padding: 40px 30px;
    margin: 8px 150px;
    display: inline-block;
    border-radius: 20px;
    border: none;
}
.buy-now {
    font-weight: bold;
    font-family: outfit;
    margin: 30px 0 50px 0;
    border: none;
    background-color: black;
    color: white;
    padding: 25px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 42px;
    cursor: pointer;
}
.buy-now:hover {
    background-color: #333;
}
/*.footer-content {
}*/
svg:hover{
    fill-opacity: 40%;
    stroke-opacity: 40%;
}
.hrule {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px; 
}
.footer {        
    background-color: #eee; /* Light background color for the footer */
    color: #333; /* Text color */
    padding: 50px 200px 50px 200px;
    /*justify-content: space-between; /* Spread content evenly horizontally */
}

.footer-table {
    display: table;
}
.footer-row {
    display: table-row;
}
.footer-cell {
    font-weight: 300;
    display: table-cell;
    padding-left: 200px;
}
.footer-heading {
    font-size: large;
    padding-bottom: 35px;
    font-weight: bold;
}
.footer-link:hover {
    text-decoration: underline;
}
.footer-link {
    display: flex;
    gap: 20px;
    color: #333; /* Link text color */
    text-decoration: none;
}
.footer-left {
    width: 30%; /* Set the width for the left side of the footer */
    text-align: left; /* Align text to the left */
}
.footer-hr {
    height: 2px;
    background: black;
}
.bottom-text {
    display: flex;
    justify-content: space-between;
}